body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #293039;
}
.box{
    max-width: 400px;
    width: 100%;
    padding:40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"],.box input[type="password"],.box input[type="email"],.box input[type="tel"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="email"]:focus,.box input[type="tel"]:focus{
    width: 280px;
    border-color: #2ecc71;

}
.box input[type="submit"],.button input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover,.button input[type="submit"]:hover{
    background: #2ecc71;
}
.details{
    color:#c3edef;
}
.outer{
    margin: 15px;
    background: #293039;
    height: 500px;
    width: 100%;
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    align-content:flex;
    text-align: center;
    font-size: large;
    color: rgb(2, 2, 68);
    font-family:cursive;
}
.b1{
    background: #c3edef;
    height: 15%;
    width: 20%;
    float: left;
    margin: 10px;
}
.b2{
    background:#c3edef;
    height: 15%;
    width: 20%;
    float: left;
    margin: 10px;
    
}
.b3{
    background:#c3edef;
    height: 15%;
    width: 20%;
    float:left;
    margin: 10px;
}
.b4{
    background: #c3edef;
    height: 15%;
    width: 20%;
    float: left;
    margin: 10px;
}
.sub_logo{
    display:flex; 
    float: left;
    margin:5px;
    width: 65px;
    height: 65px;
    border-radius: 8px
}
